.ContentCardMain {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.cardProduct {
    height: auto;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cardProductFalse {
    height: auto;
    font-size: 15px;
    background-color: rgb(255, 122, 122);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardAddSon {
    width: 40px;
    background-color: rgb(187, 187, 187);
    border-radius: 100%;
    padding: 20px;
    margin: 50px;
    text-align: center;
    transition: all 300ms;
    font-size: 30px;
}

.CardAddSon:hover {
    background-color: rgb(170, 255, 175);
    transition: all 300ms;
}






.InputSeacrh {
    border-radius: 10px;
    border: none;
    font-size: 20px;
    height: 30px;
    width: 500px;
    text-align: center;
}